rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    match /payment-slips/{studentId}/{fileName} {
      allow read: if isSignedIn();
      allow create, update: if isSignedIn();
      allow delete: if isSignedIn();
    }
  }
}

